<!DOCTYPE html>
<html lang="en">
    <title>BogRad - TodoApp</title>

    {% block header %}
    <h1>ToDo App</h1>
    {% endblock %}

    {% block content %}
    {% endblock %}
    
    <script src="dist/react-app.js"></script>
</html>